@model WebAppAuthenticate.ViewModels.ModuleFormViewModel

@*<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>*@
    
            <div class="tabbable" id="tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel_userBaseMsg" data-toggle="tab">用户基本信息管理</a>
                    </li>
                    <li>
                        <a href="#panel_userHaveRoles" data-toggle="tab">用户角色分配</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="panel_userBaseMsg">
                        @using (Html.BeginForm("Save", "UserManage", FormMethod.Post,new{id="userForm"}))
                        {
                            <div class="form-horizontal">
                                @Html.HiddenFor(mode=>Model.Id)
                                @*用户名*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ChineseName, new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ChineseName, new {htmlAttributes = new {@class = "form-control", required = true,maxlength = 50 } })
                                        @Html.ValidationMessageFor(model => model.ChineseName, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                @*密码*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EnglishName, new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.EnglishName, new {htmlAttributes = new {@class = "form-control", required = true, maxlength = 100 } })
                                        @Html.ValidationMessageFor(model => model.EnglishName, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                @*真名*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Url, new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Url, new {htmlAttributes = new {@class = "form-control", required = true, maxlength = 50 } })
                                        @Html.ValidationMessageFor(model => model.Url, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                @*办公电话*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Ico, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control",maxlength=30 } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*年龄*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control",max=120 } })
                                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*邮箱*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = true, type = "email", maxlength = 200 } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*是否启用*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Status , new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("Status", new List<SelectListItem>
                                        {
                                            new SelectListItem {Text = "否", Value = "false", Selected = false},
                                            new SelectListItem {Text = "是", Value = "true", Selected = true}
                                        }, new { @class = "form-control", onselect=true })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-5 col-md-10">
                                        <button type="button" id="closeBtn1"  class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="submit" onclick="SaveUser()" class="btn btn-primary">保存</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="tab-pane" id="panel_userHaveRoles">
                        <div id="UserRoleJsTree" style="margin-top: 1em; min-height: 200px;"></div>
                        <button type="button" id="closeBtn2"  class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" onclick="SaveRoles()" class="btn btn-primary">保存</button>
                    </div>

                </div>
            </div>


<script type="text/javascript">
    $(function () {
        RoleJsTree();
    });

    //保存用户基本信息
    function SaveUser() {
        $("#userForm").submit(function (e) {
            e.preventDefault();
            if (NameValid().form()) {
                var data = $("#userForm").serialize();
                $.ajax({
                    url: "/UserManage/Save",
                    type: "post",
                    datatype: "json",
                    //async: false,
                    data: data,
                    success: function (result) {
                        if (result !== "access") {
                            alert(result);
                        } else {
                            $("#closeBtn1").click();
                            DataTable(null, null);
                        }
                    },
                });
            }
            else {
                return;
            }
        });
    }

    //验证重名
    function NameValid() {
        return $("#userForm").validate({
            rules: {
                UserName: {
                    remote: {
                        cache: false,
                        async: false,
                        url: "/UserManage/CheckUserName",
                        type: "post",
                        datatype: "json",
                        data: {
                            userName: function () {
                                return $("#UserName").val();
                            },
                            id: function () {
                                return $("#Id").val();
                            }
                        }
                    }
                }
            },
            messages: {
                UserName: {
                    remote: "这个名字已经有人用过了"
                }
            }
        });
    }


    //角色分配jstree
    function RoleJsTree() {
        $("#UserRoleJsTree").bind("loaded.jstree", function (e, data) {
            $("#UserRoleJsTree").jstree("open_all"); 
        }).jstree({
            "core": {
                "data":[
                    { "text" : "Root node", "children" : [
                        { "text" : "Child node 1", "id" : 1,"checked":true},
                        { "text" : "Child node 2" }
                    ]}
                ]
                // "data":
                // {
                //     "url": "/UserManage/RoleTreeList",
                //     "dataType": "json"
                //}
            },
            "checkbox": {
                "keep_selected_style": false
            },
            "plugins": ["checkbox"]
        });
    }

    //保存所选角色
    function SaveRoles() {
        var ids = $('#UserRoleJsTree').jstree().get_checked(); //获取所有选中的节点ID
        alert(ids.toString());
        var userId = $("#Id").val();
        alert(userId);
        $.ajax({
            url: "/UserManage/SaveChooseRoles",
            datatype: "json",
            type: "post",
            data: {
                form: $("#userForm").serialize(),
                ids: ids.toString(),
                userId: userId
            },
            success:function(data) {
                if (data !== "access") {
                    alert(data);
                } else {
                    alert("保存成功！");
                }
            }
        });
    }
</script>
