@model WebAppAuthenticate.ViewModels.MainDictionFormViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">
                数据字典管理
            </h4>
        </div>
        <div class="modal-body">
                        @using (Html.BeginForm("SaveMain", "Dictionary", FormMethod.Post, new { id = "mainForm" }))
                        {
                            <div class="form-horizontal">
                                @Html.HiddenFor(mode => Model.Id)
                               
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ChineseName, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ChineseName, new { htmlAttributes = new { @class = "form-control", maxlength = 50 ,required=true} })
                                        @Html.ValidationMessageFor(model => model.ChineseName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EnglishName, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "form-control", maxlength = 50 ,required=true} })
                                        @Html.ValidationMessageFor(model => model.EnglishName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ReadOnly, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("Status", new List<SelectListItem>
                                                {
                                                    new SelectListItem {Text = "否", Value = "false", Selected = true},
                                                    new SelectListItem {Text = "是", Value = "true", Selected = false}
                                                }, new { @class = "form-control", onselect = true })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-5 col-md-10">
                                        <button type="button" id="closeBtn" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="submit" class="btn btn-primary">保存</button>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
     </div>
</div>

<script type="text/javascript">
    $("#mainForm").submit(function(e) {
        e.preventDefault();
        var data = $("#mainForm").serialize();
        $.ajax({
            url: "/Dictionary/SaveMain",
            type: "post",
            datatype: "json",
            data: data,
            success:function(result) {
                if (result !== "access") {
                    alert(result);
                } else {
                    $("#closeBtn").click();
                    $("#jsTree").jstree(true).refresh();
                    //MainDictionjsTree();
                }
            }
        });
    })
</script>